<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase practice/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /practice/index.html [L]
</IfModule>